<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="menu.css">
    <title>togo-list</title>
  </head>
  <body id="app">
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
      <a href="#" class="navbar-brand">Bon Voyage</a>
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#nav-bar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="nav-bar">
        <buttom type="buttom" id="copy-page" class="share"><span id="copied"><a onclick="clipURL()">Copy URL</a></span></buttom><buttom class="share"><span><a class="twitter" href="javascript:window.open('http://twitter.com/share?text='+encodeURIComponent(document.title)+'&url='+encodeURIComponent(location.href),'sharewindow',' personalbar=0, toolbar=0, scrollbars=1, resizable=!');">Tweet</a></span></buttom><buttom class="share"><span><a class="line" href="javascript:window.open('http://line.me/R/msg/text/?'+encodeURIComponent(document.title)+'%20'+encodeURIComponent(location.href),'sharewindow','width=30, height=35, personalbar=0, toolbar=0, scrollbars=1, resizable=!');">LINE</a></span></buttom>   
      </div>
      <a href="index.html" class="back-page" onclick="history.back();"><i class="far fa-hand-point-left"></i><br>Search page</a>
    </nav> 
    <div id="container">
      <div id="map"></div>
      <div id="details" v-show="isShow">
        <div class="details-content">
         <h1 class="d">details <a href="#" class="not-show">×</a></h1>
          <p class="detail-name">{{ details.name }}</p>
          <div class="detail-pn" ><p>☏ {{ details.international_phone_number }}</p></div>
          <div class="detail-price">
            <div v-if="details.price === 1"><p>Price : ¥</p></div>
            <div v-else-if="details.price === 2"><p>Price : ¥¥</p></div>
            <div v-else-if="details.price === 3"><p>Price : ¥¥¥</p></div>
            <div v-else-if="details.price === 4"><p>Price : ¥¥¥¥</p></div>
            <div v-else-if="details.price === 5"><p>Price : ¥¥¥¥¥</p></div>
            <div v-else></div>
          </div>  
          <div class="detail-reviewer" v-if="!details.reviewer"><p>Sorry, no review</p></div>
          <div class="detail-reviewer" v-else><p>Visitor review : {{ details.reviewer }}</p></div>
          <div class="detail-text" v-if="!details.text"><p>...</p></div>
          <div class="detail-text"><p>{{ details.text }}</p></div>
          <div class="image-content">
            <div 
              v-for="photo in photos"
              v-if="photo !== null">
            <img 
              class="image-details"
              v-bind:src="photo"
              width="280px"
              height="280px"
            >
          </div>
          </div>
        </div>
      </div>
      <div id="search-result">
        <h1>you are going to...</h1>
          <div 
            class="content" 
            v-for="place in places">
            <div class="expect-image">
              <div class="item-name"><p>{{ place.name }}</p></div>
              <div class="addToGoPlace">
                  <i v-if="favorites[place.id]" v-on:click="regStar(place, $event)" class="fa fa-star orange"></i>
                  <i v-else v-on:click="regStar(place, $event)" class="fa fa-star-o orange"></i>
              </div>
              <div class="item-rating" v-if="place.rating === undefined"></div>
              <div class="item-rating" v-else>rating:{{ place.rating }}</div>
              <div class="item-types" v-if="!place.types"></div>
              <div class="item-types" v-else>{{ place.types[0] }}</div>
            </div>
            <div 
              class="item-image" 
              v-if="place.imageURL !== null">
              <img
                v-bind:src="place.imageURL">
            </div>
            <div class="no-image" v-else>No Image</div>
          </div> 
      </div>
    </div> 
  </div>
<script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-app.js"></script>

  <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-database.js"></script>
  <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-storage.js"></script>

  <script>
const firebaseConfig = {
  apiKey: "MY API KEY",
  authDomain: "realtime-chat-xxxx.firebaseapp.com",
  databaseURL: "https://realtime-chat-xxxx.firebaseio.com",
  projectId: "realtime-chat-xxxx",
  storageBucket: "realtime-chat-xxxx.appspot.com",
};
firebase.initializeApp(firebaseConfig);
</script>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="list.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=xxxx&libraries=places&callback=initMap" async defer></script>
  </body>
</html>